<div class="example-wrapper">
    <button
      style="margin-bottom: 5px"
      (click)="onClicked()"
      class="btn btn-primary"
    >
      Invoke Filter Instance Method
    </button>
    <ag-grid-angular
      style="width: 100%; height: 100vh;"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowSelection]="rowSelection"
    [suppressRowClickSelection]="true"
   
      [rowData]="rowData"
      [class]="themeClass"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>
